# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
target

.vscode
.idea
.classpath
.project
.settings/
.secrets.json

k8s/cluster-keys.json
cluster-keys.json
commentedroottoken
root_token

# Terraform
kubeconfig_wrongsecrets-exercise-cluster
.terraform
.terraform
terraform.tfstate*
aws/terraform.tfstate.*
aws/terraform.tfstate.backup
aws/.terraform.tfstate.lock.info

# Templated
gcp/k8s/secret-volume.yml
gcp/k8s/secret-challenge-vault-deployment.yml
azure/k8s/secret-volume.yml
azure/k8s/secret-challenge-vault-deployment.yml
azure/k8s/pod-id.yml

# Challenge 12 ;-)
.github/scripts/yourkey.txt

# Challenge 16
.github/scripts/secondkey.txt

# Challenge 17
.github/scripts/thirdkey.txt

yourkey.txt

# Challenge 36
src/main/resources/executables/.gdb_history
src/main/resources/executables/decrypt/decrypt

# Node JS
js/node/
js/node_modules/
node_modules
.npm

# Cypress
src/test/e2e/cypress/videos
src/test/e2e/cypress/screenshots
src/test/e2e/cypress/reports
src/test/k8s-tests/cypress/videos
src/test/k8s-tests/cypress/screenshots
src/test/k8s-tests/cypress/reports
cypress/downloads
py_env
tmp/
.env
contributors_file*

##documentation
scripts/sort_contibutors/.env
scripts/sort_contibutors/contributors_file.*
