apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: secret-challenge-ctf
  name: secret-challenge-ctf
  namespace: $OKTETO_NAMESPACE
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: secret-challenge-ctf
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: secret-challenge-ctf
      name: secret-challenge-ctf
    spec:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
      containers:
        - image: jeroenwillemsen/wrongsecrets:1.9.1-no-vault
          name: secret-challenge-ctf
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: "/actuator/health/readiness"
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 8
          livenessProbe:
            httpGet:
              path: "/actuator/health/liveness"
              port: 8080
            initialDelaySeconds: 35
            timeoutSeconds: 30
            periodSeconds: 40
            failureThreshold: 5
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
              ephemeral-storage: "1Gi"
            limits:
              memory: "512Mi"
              cpu: "1000m"
              ephemeral-storage: "2Gi"
          volumeMounts:
            - name: "ephemeral"
              mountPath: "/tmp"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          env:
            - name: ctf_enabled
              value: "true"
            - name: hints_enabled
              value: "false"
            - name: ctf_key
              value: TRwzkRJnHOTckssAeyJbysWgP!Qc2T
            - name: CHALLENGE33
              valueFrom:
                secretKeyRef:
                  name: challenge33
                  key: answer
            - name: vaultpassword
              value: if_you_see_this_please_use_K8S_and_Vault
            - name: default_aws_value_challenge_9
              value: if_you_see_this_please_use_AWS_Setup
            - name: default_aws_value_challenge_10
              value: if_you_see_this_please_use
            - name: default_aws_value_challenge_11
              value: if_you_see_this_please_use
            - name: canarytokenURLs
              value: "https://canarytokens.org/history?token=cs07k832u9t1u4npowbvsw4mb&auth=7f75f2b2a4207c91fbc1ea59f7a495eb"
            - name: challenge15ciphertext
              value: "k9+HuPXEiFD6efujS5h1lOL1xgAC2OIgE2alg9JweUDy8k2SHUoG6I9FOhM1mgPKIUlyPWvROo+2T5p4qrAnuPYC/xAzVjGDUoN4eIXdXn+gwcYmL+Be8TodjXUt9U3g1/B9O2wyVZTT9Q839FaDHeBR4Og="
            - name: springdoc_api-docs_enabled
              value: "false"
            - name: challenge_acht_ctf_host_value
              value: "thisisfunnyisitnot?"
            - name: challenge_thirty_ctf_to_provide_to_host_value
              value: "thisisthekeyforchallengethirty"
            - name: K8S_ENV
              value: Okteto(k8s)
            - name: SPECIAL_K8S_SECRET
              valueFrom:
                configMapKeyRef:
                  name: secrets-file
                  key: funny.entry
            - name: SPECIAL_SPECIAL_K8S_SECRET
              valueFrom:
                secretKeyRef:
                  name: funnystuff
                  key: funnier
      volumes:
        - name: "ephemeral"
          emptyDir: {}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
