<!DOCTYPE html>
<html>
<body>
<div class="row" th:fragment="navigation">
    <div class="col-2 text-center">
        <a th:class="${challenge.previous()} < 0 ? 'disabled' : ''" th:href="@{/challenge/} + ${challenge.previous()}">Previous</a>
    </div>
    <div class="offset-2 col-4 text-center">
        <a href="/">Go the main page</a>
    </div>
    <div class="offset-2 col-2 text-center">
        <a th:class="(${challenge.next()} == ${challenges.size()}) ? 'disabled' : ''" th:href="@{/challenge/} + ${challenge.next()}">Next</a>
    </div>
</div>
</body>
</html>
