.sect2 {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color);
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.progress {
    margin: 20px 0px 20px 0px;
}

.dropdown-menu {
    max-height: 540px;
    overflow-y: auto;
}

@media only screen and (max-width: 990px) {
    .dropdown-menu {
        max-height: 320px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 990px) and (max-height: 600px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
    }
}

.thank-you {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color) !important;
    padding: 10px 16px;
    margin: 0px 0px 10px 0px;
}

@media only screen and (max-width: 990px){
    .thank-you {
        border-radius: 25px;
        border: 2px solid var(--bs-body-color) !important;
        padding: 10px;
        margin: 0px 0px 10px 0px;
    }
}

a.disabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: var(--bs-body-color);
}
.theme-toggle input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.theme-toggle :checked + .checkmark {
    border-bottom: 1px solid var(--bs-gray-300);
}

tr.solved {
    --bs-success-soft: rgba(0, 188, 140, 0.5);
    background-color: var(--bs-success-soft) !important;
}

.table {
    --bs-table-bg: rgba(0, 0, 0, 0) !important;
}
