.sect2 {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color);
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.progress {
    margin: 20px 0px 20px 0px;
}

.thank-you {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color) !important;
    padding: 10px;
    margin: 00px 0px 10px 0px;
}

a.disabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: var(--bs-body-color);
}
.theme-toggle input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.theme-toggle :checked + .checkmark {
    border-bottom: 1px solid var(--bs-gray-300);
}
