.sect2 {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color);
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.progress {
    margin: 20px 0px 20px 0px;
}

.dropdown-menu {
    max-height: 540px;
    overflow-y: auto;
}

@media only screen and (max-width: 990px) {
    .dropdown-menu {
        max-height: 320px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 990px) and (max-height: 600px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
    }
}

.thank-you {
    border-radius: 25px;
    border: 2px solid var(--bs-body-color) !important;
    padding: 10px 16px;
    margin: 0px 0px 10px 0px;
}

@media only screen and (max-width: 990px){
    .thank-you {
        border-radius: 25px;
        border: 2px solid var(--bs-body-color) !important;
        padding: 10px;
        margin: 0px 0px 10px 0px;
    }
}

a.disabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: var(--bs-body-color);
}
.theme-toggle input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.theme-toggle :checked + .checkmark {
    border-bottom: 1px solid var(--bs-gray-300);
}

tr.solved {
    --bs-success-soft: rgba(0, 188, 140, 0.5);
    background-color: var(--bs-success-soft) !important;
}

.table {
    --bs-table-bg: rgba(0, 0, 0, 0) !important;
}

/*toggle switch styling*/
:root {
    font: 700 16px/1 Verdana;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4.5em;
    height: 2.125em;
}

.control {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2.125em;
    background-color: #fff;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 1.625em;
    width: 1.625em;
    left: 0.425em;
    bottom: 0.25em;
    border-radius: 50%;
    background: #9c7dd2;
    transition: .4s;
    z-index: 2;
}

.control:checked + .switch .slider {
    background: var(--bs-light-purple);
}

.control:checked + .switch .slider::before {
    transform: translateX(calc(4.5em - 2.5em));
    background: #fff;
}

.sun,
.moon {
    height: 20px;
    width: 20px;
    z-index: 1000;
}


/*navbar formating overridding over bootstrap*/
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}
