<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<body>
<div class="container" layout:fragment="content">
    <!--/*@thymesVar id="challenge" type="org.owasp.wrongsecrets.challenges.ChallengeUI"*/-->
    <h1 class="mt-2" th:text="${challenge.name}"/>
    <p th:text="'Welcome to challenge ' + ${challenge.challengeNumber} + '. You need to guess the secret that is hidden in Java, Docker, Kubernetes, Vault, AWS or GCP.'"></p>
    <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12">
            <div th:replace="doc:__${challenge.explanation}__.adoc"></div>
        </div>

    </div>

    <div th:text="${challengeCompletedAlready}"></div>
    <div class="feedback alert alert-success" role="alert" th:if="${answerCorrect!=null}"
         th:text="${answerCorrect}"></div>
    <div class="feedback alert alert-danger" role="alert" th:if="${answerIncorrect!=null}"
         th:text="${answerIncorrect}"></div>
    <form action="#" th:action="'/challenge/'+${challenge.link}" th:object="${challengeForm}" method="post">
        <p>Answer to solution : <input type="text" id="answerfield" th:field="*{solution}"/>
            <button class="btn btn-secondary"
                    onclick="document.getElementById('answerfield').value='';event.preventDefault();">Clear
            </button>
        </p>
        <p>
            <button class="btn btn-primary" type="submit" name="action" value="submit">Submit</button>
            <button class="btn btn-secondary" type="submit" name="action" value="reset">Reset</button>
        </p>
    </form>

    <div th:replace="fragments/navigation :: navigation"></div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" th:style="'width:'+${progress}+'%;'"
             th:attr="aria-valuenow=${progress}" aria-valuemin="0" aria-valuemax="100"
             th:text="${totalPoints}"></div>
    </div>

    <div class="row">
        <div th:if="${missingEnvWarning} eq 'DOCKER'" class="alert alert-danger" role="alert">
            We are running outside a docker container. Please run this in a container as explained in the README.md.
        </div>
        <div th:if="${missingEnvWarning} eq 'VAULT'" class="alert alert-danger" role="alert">
            We are running outside a K8s cluster with Vault. Please run this in the K8s cluster as explained in the
            README.md.
        </div>
        <div th:if="${missingEnvWarning} eq 'K8S'" class="alert alert-danger" role="alert">
            We are running outside a K8s cluster. Please run this in the K8s cluster as explained in the README.md.
        </div>
        <div th:if="${missingEnvWarning} eq 'AWS' or ${missingEnvWarning} eq 'GCP'" class="alert alert-danger"
             role="alert">
            We are running outside a properly configured AWS environment. Please run this in an AWS/GCP environment as
            explained
            in the README.md.
        </div>
    </div>
</div>
</body>
</html>
