<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<html lang="en">
<body>
<div class="container" layout:fragment="content">
    <div class="container-fluid mt-3 text-sm p-5 bg-light">
        <h1 class="display-2">WHOOOOPS</h1>
        <p class="lead">Something went wrong!</p>
        <hr class="my-4">
        It seems you ended up here after an error.
        <br/>
        <button class="btn btn-primary btn-lg" type="button" onclick='javascript:history.back();return false;'>Go Back
        </button>
        <a class="btn btn-secondary btn-lg" type="button" href="/">Go Home</a>
    </div>
</div>
</body>
</html>
