<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css} "/>
    <style>
        div.thank-you {
            border-radius: 25px;
            border: 2px solid black;
            padding: 10px;
            margin: 00px 0px 10px 0px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">WrongSecrets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Challenges
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/challenge/1">Challenge 1</a>
                        <a class="dropdown-item" href="/challenge/2">Challenge 2</a>
                        <a class="dropdown-item" href="/challenge/3">Challenge 3</a>
                        <a class="dropdown-item" href="/challenge/4">Challenge 4</a>
                        <a class="dropdown-item" href="/challenge/5">Challenge 5</a>
                        <a class="dropdown-item" href="/challenge/6">Challenge 6</a>
                        <a class="dropdown-item" href="/challenge/7">Challenge 7</a>
                        <a class="dropdown-item" href="/challenge/8">Challenge 8</a>
                        <a class="dropdown-item" href="/challenge/9">Challenge 9</a>
                        <a class="dropdown-item" href="/challenge/10">Challenge 10</a>
                        <a class="dropdown-item" href="/challenge/11">Challenge 11</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/commjoen/wrongsecrets" target="_blank">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
                       th:text="'Version:'+${version}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> Welcome </h1>
        <p class="lead">Welcome to Wrong-Secrets. With this app, we hope you will re-evaluate your secrets management
            strategy</p>
        <hr class="my-4">
        <p>Special Thanks to: Nanne Baars, Ben de Haan & Madhu Akula for motivating and helping me out to build
            this.</p>

    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <p>
                <a href="challenge/1">Challenge 1 (requires Docker)</a><br/>
                <a href="challenge/2">Challenge 2 (requires Docker)</a><br/>
                <a href="challenge/3">Challenge 3 (requires Docker)</a><br/>
                <a href="challenge/4">Challenge 4 (requires Docker)</a><br/>
                <a href="challenge/5">Challenge 5 (requires K8s/Minikube)</a><br/>
                <a href="challenge/6">Challenge 6 (requires K8s/minikube)</a><br/>
                <a href="challenge/7">Challenge 7 (requires k8s/minikube with Vault)</a><br/>
                <a href="challenge/8">Challenge 8 (requires Docker)</a><br/>
                <a href="challenge/9">Challenge 9 (requires AWS)</a><br/>
                <a href="challenge/10">Challenge 10 (requires AWS)</a><br/>
                <a href="challenge/11">Challenge 11 (requires AWS)</a><br/>
            </p>
            <p>Don't want to wait for Vault? here is <a href="spoil-7">the secret :(</a>.</p>
            <p>Like what you see? Please <a class="github-button" href="https://github.com/commjoen/wrongsecrets"
                                            data-icon="octicon-star" aria-label="Star commjoen/wrongsecrets on GitHub">Star
                us</a></p>
        </div>
        <div class="col-12 col-lg-3">
            <div class="border border-dark thank-you">
                OWASP Project Leaders:
                <ul>
                    <li><a href="https://github.com/bendehaan">Ben de Haan @bendehaan</a></li>
                    <li><a href="https://github.com/commjoen">Jeroen willemsen @commjoen</a></li>
                </ul>
                Top Contributors:
                <ul>
                    <li><a href="https://github.com/nbaars">Nanne Baars @nbaars</a></li>
                </ul>
                Special mentions for helping out:
                <ul>
                    <li><a href="https://github.com/madhuakula">Madhu Akula @madhuakula</a></li>
                    <li><a href="https://github.com/bkimminich">Björn Kimminich @bkimminich</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/github-buttons/2.14.1/dist/buttons.js}"></script>
</body>
</html>