<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{index.html}"
>
    <body>
        <div layout:fragment="content">
            <div class="container-fluid mt-3 text-sm p-4 bg-light">
                <div class="display-5">Welcome</div>
                <p class="lead">
                    Welcome to OWASP WrongSecrets. With this app, we hope you will re-evaluate your secrets management
                    strategy.
                </p>
                <hr class="my-2 my-lg-3" />
                <p>
                    For each of the challenges below: try to find the secret! Enter it in the `Answer to solution` box
                    and score points! Note that some challenges require this app to run on additional infrastructure
                    (see in the table below).
                </p>
            </div>
            <div class="container-fluid text-sm p-2 p-lg-3">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <table class="table table-responsive" id="challenge_overview" data-cy="challenge-overview">
                            <thead>
                                <tr>
                                    <th scope="col" class="d-none d-xl-table-cell">#</th>
                                    <th scope="col">&nbsp;Challenge&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th scope="col">Focus&nbsp;&nbsp;&nbsp;</th>
                                    <th scope="col" class="d-none d-md-table-cell">
                                        Difficulty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </th>
                                    <th
                                        scope="col"
                                        th:text="'Runs on environment (current: '+${#strings.replace(environment,'_',' _')}+')'"
                                    ></th>
                                    <th scope="col" class="d-none d-xl-table-cell">Solved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="challenge: ${challenges}"
                                    th:class="${challenge.challengeCompleted} ? solved : ''"
                                    data-cy="challenge-row" >
                                    <th scope="row" class="d-none d-xl-table-cell" th:text="${challenge.link}"></th>
                                    <td>
                                        &nbsp;<span
                                            class="d-xl-none"
                                            th:if="${challenge.challengeCompleted}"
                                            >&#9745; </span>
                                        <a th:href="'/challenge/' + ${challenge.link}" th:class="${challenge.isChallengeEnabled} ? '' : 'disabled'">
                                            <span th:text="${challenge.name}" th:attr="data-cy=${challenge.getDataLabel}"></span>
                                        </a>
                                    </td>
                                    <td th:text="${challenge.tech}"></td>
                                    <td class="d-none d-md-table-cell" th:text="${challenge.starsOnScale}"></td>
                                    <th:block th:if="${challenge.requiredEnv} == 'DOCKER'">
                                        <td class="">Docker</td>
                                    </th:block>
                                    <th:block th:if="${challenge.requiredEnv} == 'K8S'">
                                        <td class="">K8S</td>
                                    </th:block>
                                    <th:block th:if="${challenge.requiredEnv} == 'VAULT'">
                                        <td class="">K8S with Vault</td>
                                    </th:block>
                                    <th:block
                                        th:if="${challenge.requiredEnv} == 'AWS' or ${challenge.requiredEnv} == 'GCP' or ${challenge.requiredEnv} == 'AZURE'"
                                    >
                                        <td class="">AWS, GCP, Azure</td>
                                    </th:block>
                                    <td class="d-none d-xl-table-cell">
                                        <span
                                            th:if="${challenge.challengeCompleted}"
                                            >&#9745;</span
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p th:if="${ctfServerAddress == null}" th:text="'Total score: '+${totalScore}" th:attr="data-cy='total-score'"></p>
                        <p
                            th:if="${ctfServerAddress != null}"
                            th:text="'Scoring and progress keeping is disabled in CTF mode, have a look at '+${ctfServerAddress}+' for your actual score and progress'"
                        ></p>
                        <!--                <p th:text="'You are currently running on the following environment: '+${environment}"></p>-->
                        <p>Hasty? Here is the Vault <a href="spoil-7">secret;-)</a></p>
                    </div>
                    <div class="col-12 col-lg-4 offset-lg-1">
                        <div class="border border-dark thank-you text-center">
                            Like what you see? Please <br />
                            <a
                                class="github-button"
                                href="https://github.com/OWASP/wrongsecrets"
                                data-icon="octicon-star"
                                data-size="large"
                                data-color-scheme="dark: light;"
                                data-show-count="true"
                                aria-label="Star commjoen/wrongsecrets on GitHub"
                                >Star us on Github</a
                            >
                        </div>
                        <div class="border border-dark thank-you">
                            OWASP Project Leaders:
                            <ul>
                                <li><a href="https://github.com/bendehaan">Ben de Haan @bendehaan</a></li>
                                <li><a href="https://github.com/commjoen">Jeroen willemsen @commjoen</a></li>
                            </ul>
                            Top Contributors:
                            <ul>
                                <li><a href="https://github.com/nbaars">Nanne Baars @nbaars</a></li>
                                <li>
                                    <a href="https://github.com/drnow4u">Marcin Nowak @drnow4u</a>
                                </li>
                                <li><a href="https://github.com/remakingeden">Joss Sparkes @remakingeden</a></li>
                                <li><a href="https://github.com/tiborhercz">Tibor Hercz @tiborhercz</a></li>
                                <li><a href="https://github.com/neatzsche">Chris Elbring Jr. @neatzsche</a></li>
                                <li><a href="https://github.com/puneeth072003">Puneeth Y @puneeth072003</a></li>
                                <li><a href="https://github.com/mikewoudenberg">Mike Woudenberg @mikewoudenberg</a></li>
                                <li><a href="https://github.com/Novice-expert">Divyanshu Dev @Novice-expert</a></li>
                                <li><a href="https://github.com/fchyla">Filip Chyla @fchyla</a></li>
                                <li><a href="https://github.com/Dlitosh">Dmitry Litosh @Dlitosh</a></li>
                                <li><a href="https://github.com/tghosth">Josh Grossman @tghosth</a></li>
                                <li><a href="https://github.com/turjoc120">Turjo Chowdhury @turjoc120</a></li>
                                <li><a href="https://github.com/northdpole">Spyros @northdpole</a></li>
                                <li><a href="https://github.com/RubenAtBinx">Ruben Kruiver @RubenAtBinx</a></li>
                                <li><a href="https://github.com/szh">Shlomo Zalman Heigh @szhx</a></li>
                                <li><a href="https://github.com/nhumblot">Nicolas Humblot @nhumblot</a></li>
                                <li><a href="https://github.com/madhuakula">Madhu Akula @madhuakula</a></li>
                                <li><a href="https://github.com/alex-bender">Alex Bender @alex-bender</a></li>
                                <li><a href="https://github.com/f3rn0s">Finn @f3rn0s</a></li>
                                <li><a href="https://github.com/kingthorin">Rick M @kingthorin</a></li>
                            </ul>
                            Testers:
                            <ul>
                                <li><a href="https://github.com/davevs">Dave van Stein @davevs</a></li>
                                <li>
                                    <a href="https://github.com/drnow4u">Marcin Nowak @MarcinNowak-codes</a>
                                </li>
                                <li><a href="https://github.com/mchangsp">Marc Chang Sing Pang @mchangsp</a></li>
                                <li><a href="https://github.com/djvinnie">Vineeth Jagadeesh @djvinnie</a></li>
                            </ul>
                            Special mentions for helping out:
                            <ul>
                                <li><a href="https://github.com/madhuakula">Madhu Akula @madhuakula</a></li>
                                <li><a href="https://github.com/bkimminich">Björn Kimminich @bkimminich</a></li>
                                <li><a href="https://github.com/devsecops">Dan Gora @devsecops</a></li>
                                <li><a href="https://github.com/saragluna">Xiaolu Dai @saragluna</a></li>
                                <li><a href="https://github.com/JonathanGiles">Jonathan Giles @jonathanGiles</a></li>
                            </ul>
                        </div>
                        <div class="border border-dark thank-you text-center">
                            Developing our solution in 3 clouds costs money. Want to help us to cover our cloud bills?
                            <a
                                href="https://owasp.org/donate/?reponame=www-project-wrongsecrets&title=OWASP+wrongsecrets"
                                target="_blank"
                                >Donate</a
                            >.
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="border border-dark thank-you">
                            Resources/further reading on secrets management:<br />
                            <ul>
                                <li>
                                    <a
                                        href="https://dev.to/commjoen/secure-deployment-10-pointers-on-secrets-management-187j"
                                        >Blog: 10 Pointers on Secrets Management</a
                                    >
                                </li>
                                <li>
                                    <a href="https://owaspsamm.org/model/implementation/secure-deployment/stream-b/"
                                        >OWASP SAMM on Secret Management</a
                                    >
                                </li>
                                <li>
                                    <a href="https://github.com/topics/secrets-detection"
                                        >The secret detection topic at Github</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Secrets_Management_Cheat_Sheet.md"
                                        >OWASP Secretsmanagement Cheatsheet</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.opencre.org/cre/223-780?register=true&type=tool&tool_type=training&tags=secrets,training&description=With%20this%20app%2C%20we%20have%20packed%20various%20ways%20of%20how%20to%20not%20store%20your%20secrets.%20These%20can%20help%20you%20to%20realize%20whether%20your%20secret%20management%20is%20ok.%20The%20challenge%20is%20to%20find%20all%20the%20different%20secrets%20by%20means%20of%20various%20tools%20and%20techniques.%20Can%20you%20solve%20all%20the%2014%20challenges%3F&trk=flagship-messaging-web&messageThreadUrn=urn:li:messagingThread:2-YmRkNjRkZTMtNjRlYS00OWNiLWI2YmUtMDYwNzY3ZjI1MDcyXzAxMg==&lipi=urn:li:page:d_flagship3_feed;J58Sgd80TdanpKWFMH6z+w=="
                                        >Open CRE on Secrets Management</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="border border-dark thank-you">
                            Wondering what a secret is? A secret is often a confidential piece of information that is
                            required to unlock certain functionalities or information. It can exists in many shapes or
                            forms, for instance:
                            <ul>
                                <li>2FA keys</li>
                                <li>Activation/Callback links</li>
                                <li>API keys</li>
                                <li>Credentials</li>
                                <li>Passwords</li>
                                <li>Private keys (decryption, signing, TLS, SSH, GPG)</li>
                                <li>Secret keys (symmetric encryption, HMAC)</li>
                                <li>Session cookies</li>
                                <li>Tokens (Session, Refresh, Authentication, Activation, etc.)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="border border-dark thank-you">
                            Want to see if your tool of choice detects all the secrets available in this project?
                            <a
                                href="https://github.com/OWASP/wrongsecrets/#use-owasp-wrongsecrets-as-a-secret-detection-benchmark"
                                >Check the instructions in the README</a
                            >.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
