# This is a basic workflow to help you get started with Actions

name: Docker container test

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
  workflow_dispatch:
permissions:
  contents: read
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: Container test
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: "22"
          distribution: "temurin"
          cache: "maven"
      - name: Navigate to test script and run
        run: cd .github/scripts && bash docker-create.sh -t
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: e2e results
          path: src/test/e2e/cypress/reports/mochawesome/
