name: Test container on podman

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-podman:
    name: Test with podman
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: run container
        run: |
          podman run -dt -p 8080:8080 docker.io/jeroenwillemsen/wrongsecrets:latest-no-vault && \
          echo "wait 20 seconds for container to come up" && sleep 20 && \
          curl localhost:8080
