# This is a basic workflow to help you get started with Actions

name: Java spotbugs, checkstyle and testing

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
permissions:
  checks: write
  contents: read
  issues: read
  pull-requests: write
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    name: lint javacode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: "22"
          distribution: "temurin"
          cache: "maven"
      - name: checkstyle with Maven
        run: ./mvnw --no-transfer-progress checkstyle:check

  spotbugs:
    name: execute java spotbugs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: "22"
          distribution: "temurin"
          cache: "maven"
      - name: spotbugs with Maven
        run: ./mvnw --no-transfer-progress package -DskipTests spotbugs:check
  test:
    name: test with java
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: "22"
          distribution: "temurin"
          cache: "maven"
      - name: Test with Maven
        run: ./mvnw --no-transfer-progress test
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: e2e results
          path: target/test-classes/e2e/cypress/
