name: Terraform FMT
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
    paths:
      - "aws/**"
      - "gcp/**"
      - "azure/**"
  pull_request:
    branches: [master]
    paths:
      - "aws/**"
      - "gcp/**"
      - "azure/**"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  terraform-fmt:
    name: terraform-fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 0.13.1
      - run: terraform init
      - run: terraform fmt
